<div class='container-fluid mt-2 g-1'>
    <div class="w-100 text-center">
        <h1>School Dashboard</h1>
    </div>

    <div class="w-75 g-4 mx-auto">
        <div class="row w-100 border border-primary gap-0">
            <div class="col-12 col-md-6 border border-danger rounded">
                <h2>Totals</h2>
                <h4>Students: <%= @students_total_count %></h4>
            </div>
            <div class="col-12 col-md-6 border border-success">
                <h2>Totals</h2>
            </div>
        </div>
    </div>
</div>


